<!-- Footer -->
<footer>
    <div id="footer" class="container text-center">
        <p>&copy; FitMetrics 2014-2015</p>
        <p>Built with <a href="http://middlemanapp.com" target="_blank">Middleman</a></p>
    </div>
</footer>